body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #222629;
    color: #bbc1c5;
}

main {
    margin-left: 10%;
    margin-right: 10%;
}

h1, h2 {
    text-align: center;
    color: white;
}

#salesBody section {
    background-color: #40474d;
    padding: 1em;
    margin: 2%;
    border-radius: 1em;
}

header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#homepageBody nav ul{
    display: flex;
    justify-content: center;
}

#homepageBody nav li {
    padding: 1%;
    margin: 1%;
}

table {
    background-color: #2f3438;
}

a:link {
    color:lightblue;
}

a:visited {
    color:violet;
}

a:hover {
    background-color: #40474d;
}

td, th {
    border: white 1px dotted;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 1px;
}

.highlight {
    font-family: 'Cinzel', serif;
    color: #86C232;
}

.data {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

footer{
    display: flex;
    justify-content: center;
    gap: 20px;
}



.whiteBackgroundImage {
    mix-blend-mode: multiply;
}

main > section {
    display: flex;
    gap: 30px 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}