body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #222629;
    color: #bbc1c5;
}

.highlight {
    font-family: 'Cinzel', serif;
    color: #86C232;
}

h1, h2 {
    color: #86C232;
}

.data {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
a {
    display: inline-block;
}
a:link {
    color:lightblue;
}

a:visited {
    color:violet;
}

a:hover {
    background-color: #40474d;
}

img{
    max-width: 99%;
    max-height: 99%;
    width: 15%;
}

table {
    background-color: #474B4F;
    width: 95%;
    margin: auto;
    padding: 1%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px gray;
}

td, th {
    
    margin: 5px;
    text-align: center;
    border: 1px gray solid;
    border-radius: 4px;
}

section {
    background-color: #6B6E70;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    width: 80%;
    margin: auto;
    padding: 1%;
    border-radius: 20px;
    padding-top: 0.5%;
    margin-bottom: 1%;
    gap: 20px 20px;

}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

nav > ul > li {
    padding: 0.5%;
    margin: 5px;
}

form{
    display:flex;
    flex-direction: column;
    margin: auto;
    width: 30%;
    justify-content: center;
    background-color: #474B4F;
}

form > input {
    width: 20%;
    margin-top: 1%;
    margin-bottom: 3%;
}

form button {
    width: 30%;
}

#AboutUs {
    display: flex;
    flex-direction: row;
}

#AboutUs > section {
    width: 40%;
    display: flex;
    align-items: flex-start;
    height: 400px;
    max-height: 100%;
}

footer{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}